*{
  margin:0;
  padding: 0%;
  box-sizing:border-box;
}

img {
  height: 50px;
  width: 50px;
}

nav {
  width: 100%;
}


header{
  background-color: rgb(63, 201, 223);
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 150px;
  color: rgb(11, 81, 102);

  .first-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
  }
   .second-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;

    
    ul{
      list-style: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      li{
      display:inline;
        margin-left: 50px auto;
        margin-right: 50px auto;
  
        
        
      }
      .menu{
        height: 30px;
        width: 30px;
        opacity: 80%;
        margin-left: 50px auto;
        z-index:10;

        
          .dropdown {
          position: relative;
          display: inline-block;
          }

          .dropdown-content {
          display: none;
          position: absolute;
          background-color: rgb(9, 75, 83);
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          }

          .dropdown-content a {
          color: black;
          padding: 12px 16px;
          display: block;
          }

          .dropdown-content a:hover {background-color:  rgb(9, 75, 83);}

          .dropdown:hover .dropdown-content {display: block;}

      }
      .menu:hover .dropdown-content{
        display: block;
      }
     
    }

    
}
}
main{
  margin-top: 100px auto;
  height: 800px;
  width: 100%;
  background-image: url("./the-eye-of-god-blue-eclipse-on-white-background-WAMG7B.jpg");
  background-size: cover;
  opacity: 80%;
  color: rgb(11, 81, 102);

   h3{
    width: 100%;
    padding: 50px;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    color: #2A535C;
    font-size: 32px;
    align-content: center;
   }

   .form{
     display: grid;
     grid-template-columns: 1fr 1fr;
     height: 200px;
     width: 80%;
     margin:auto;
     padding:30px;
   }

    p{
 
      width: 650px;
      height: 100px;
      right: 213px;
      top: 271px;
      margin:auto;
      padding: 50px;
      font-family: Sansita;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      word-wrap: break-word;
      color: #2A535C;
    }
  
 .activities{
   height: 300px;
   width: 600px;
  background-image: url("./Copy-of-Untitled-3.png");
  background-size: cover;
  border-radius: 30px;
  margin:20px auto;
  padding:80px auto;
 }
 .activities:hover{
  transform: scale(1.5);
}

  .container{
    height: 600px;
    width: 1200px;
    box-sizing: border-box;
    display: grid;
    color: #2A535C;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    margin:auto;

    .first-pic {
      grid-area: first;
      opacity: 1;
      color: white;
      text-shadow: 2px 2px 4px #082b2e;
      position: relative;
      display: inline-block;
    
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .desc {
      padding: 15px;
      text-align: center;
    }
  
    }
    .first-pic:hover .dropdown-content {

      display: block;
      margin:auto;
      img {
        height: 200px;
        width: 200px;
       
      }
    }
    .second-pic {
      grid-area: second;
      color: white;
      text-shadow: 2px 2px 4px #082b2e;
      position: relative;
      display: inline-block;
    
    
    .dropdown-content-s {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown:hover .dropdown-content-s {
      display: block;
    }
    
    .desc {
      padding: 15px;
      text-align: center;
    }
    }
    .second-pic:hover .dropdown-content-s {
      
      display: block;
      margin:auto;
      img {
        height: 200px;
        width: 200px;
       
      }
    }
    .third-pic {
      grid-area: third;
      color: white;
      text-shadow: 2px 2px 4px #082b2e;
      .dropdown-content-p {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown:hover .dropdown-content-p {
        display: block;
      }
      
      .desc {
        padding: 15px;
        text-align: center;
      }

    }
    .third-pic:hover .dropdown-content-p {
      
      display: block;
      margin:auto;
      img {
        height: 150px;
        width: 150px;
       
      }
    }
    .fourth-pic {
      grid-area: fourth;
      color: white;
      text-shadow: 2px 2px 4px #082b2e;
    }
    .fourth-pic:hover{
      transform: scale(2);
    }
    grid-template-areas: 
    ". . . first"
    ". . second ."
    ". third . ."
    "fourth . . .";
  }
}


@media screen and (max-width: 700px) {
 
header{
  width: 370px;
  height: 200px;
  background-color:white;
  font-size: 12px;
  text-align: left;

    h2{
      text-align: center;
    }

   .first-nav{
    justify-content: flex-start;
    align-items: center;
   
   }
   .second-nav{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-top: 0%;

   
  

    ul{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .menu{
        display: none;
      }
      
      li{
       display:block;
        margin:auto;
        padding: 10px;
        height: 25px;
        width:100px;
        box-shadow: 10px 10px 5px rgb(3, 46, 46);
      }
    }

    
}
}
main{
  

  h3{
    width: 100%;
    padding: 50px;
    font-family: Sansita;
    font-style: normal;
    font-weight: bold;
    color: #2A535C;
    font-size: 20px;
    align-content: center;
   }

    p{
 
      width: 300px;
      height: 90px;
      right: 100px;
      top: 100px;
      font-size: 15px;
      margin:auto;
      padding:5px;

    }
    .activities{
      height: 100px;
      width: 200px;
     background-image: url("./Copy-of-Untitled-3.png");
     box-shadow: 10px 10px 5px grey;
     background-size: cover;
     border-radius: 30px;
     margin:20px auto;
     padding:80px auto;
    }
  
    .container{
      height: 300px;
      width: 350px;
      box-sizing: border-box;
      display: grid;
      color: #2A535C;
      font-family: Sansita;
      font-style: normal;
      font-weight: bold;
      margin:auto;
      padding:10px;
  
      .first-pic {
        grid-area: first;
        opacity: 1;

        .dropdown-content {
          min-width: 100px;
        }
      }
      .first-pic:hover .dropdown-content {
      
        img {
          height:50px;
          width: 50px;
         
        }
      }
      .second-pic {
        grid-area: second;

        .dropdown-content-s {
          min-width: 100px;
        }
      }
      .second-pic:hover .dropdown-content-s {
      
        img {
          height:50px;
          width: 50px;
         
        }
      }
     
      .third-pic {
        grid-area: third;
      }
     
      .fourth-pic {
        grid-area: fourth;
      }

      .fourth-pic:hover{
        transform: scale(1.5);
      }
     
      grid-template-areas: 
      ". . . first"
      ". . second ."
      ". third . ."
      "fourth . . .";
    }

  }
}