
@import'https://fonts.googleapis.com/css2?family=Lobster&display=swap';
@import'https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap';
$font-l: 30px;
$font-m: 18px;
$font-s: 12px;
$primary-font: #2A535C;
$secondry: purple;
$font-family-body: 'Dancing Script', cursive;
$font-family-head: 'Lobster', cursive;
$back-color-test: rgb(161, 186, 206);